---


---
<form id="payment-form">
  <label for="fullname">Nombre y apellidos:</label>
  <input type="text" id="fullname" name="fullname" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>

  <label for="phone">Teléfono:</label>
  <input type="tel" id="phone" name="phone" required>

  <label for="intolerancia">¿Tienes alguna intolerancia o alergia alimentaria?</label>
  <select id="intolerancia" name="intolerancia" required>
      <option value="">Selecciona una opción</option>
      <option value="Gluten">Gluten</option>
      <option value="Lactosa">Lactosa</option>
      <option value="Frutos secos">Frutos secos</option>
      <option value="Otro">Otro</option>
  </select>

  <label for="deporte">¿Qué deporte practicas?</label>
  <select id="deporte" name="deporte" required>
    <option value="">Selecciona un deporte</option>
    <option value="Atletismo">Atletismo</option>
    <option value="Baloncesto">Baloncesto</option>
    <option value="Balonmano">Balonmano</option>
    <option value="Contacto: boxeo, judo, karate, kick boxing, lucha, taekwondo">Contacto: boxeo, judo, karate, kick boxing, lucha, taekwondo</option>
    <option value="Rueda: ciclismo, triatlón">Rueda: ciclismo, triatlón</option>
    <option value="Deportes invierno">Deportes invierno</option>
    <option value="Montaña">Montaña</option>
    <option value="Esgrima">Esgrima</option>
    <option value="Fútbol y Fútbol Sala">Fútbol y Fútbol Sala</option>
    <option value="Fuerza: CrossFit , Halterofilia, Gym, Calistenia">Fuerza: CrossFit , Halterofilia, Gym, Calistenia</option>
    <option value="Gimnasia Ritmica y artística">Gimnasia Ritmica y artística</option>
    <option value="Golf">Golf</option>
    <option value="Hipica">Hipica</option>
    <option value="Hockey">Hockey</option>
    <option value="Motor: motociclismo, rally, Dakar">Motor: motociclismo, rally, Dakar</option>
    <option value="Maratón y media maratón">Maratón y media maratón</option>
    <option value="Natación">Natación</option>
    <option value="Raqueta: Padel, tenis, tenis de mesa, squash, pelota">Raqueta: Padel, tenis, tenis de mesa, squash, pelota</option>
    <option value="Patinaje">Patinaje </option>
    <option value="Piragüismo">Piragüismo</option>
    <option value="Rugby">Rugby</option>
    <option value="Tiro con arco y olímpico">Tiro con arco y olímpico</option>
    <option value="Vela">Vela</option>
    <option value="Voleibol">Voleibol</option>
    <option value="Otro">Otro</option>
    </select>



  <label for="sabor">¿Qué sabor quieres para la complementación preentreno?</label>
  <select id="sabor" name="sabor" required>
    <option value="">Selecciona una opción</option>
    <option value="Vainilla">Vainilla</option>
    <option value="Chocolate">Chocolate</option>
    <option value="Galleta crujiente">Galleta crujiente</option>
  </select>

  <label for="Quien_Soy">¿Qué eres?</label>
  <select id="Quien_Soy" name="Quien_Soy" required>
      <option value="">Selecciona una opción</option>
      <option value="Coach">Coach</option>
      <option value="Cliente">Cliente</option>
      <option value="Deportista">Deportista invitado</option>
  </select> 

  <div id="additional-input-container"></div>
  <label for="pago">¿Cómo quieres hacer el pago?</label>
    <input type="radio" id="Unico" name="pago" value="price_1OWxIzBU9WDVlpaVvmxYZTlo" required>Pago único 
    <input type="radio" id="Meses" name="pago" value="price_1OWxM3BU9WDVlpaVIsDdV3rG" required>3 Meses sin intereses
<p></p>
  <div class="text-center"><button type="submit">Pagar</button></div>
</form>


<script>
// Importar Stripe.js
import { loadStripe } from '@stripe/stripe-js';

let stripePromise : Promise<any | null>;
try {
    stripePromise = loadStripe('pk_test_51Kbv4ABU9WDVlpaVBzgECKDMkUnd5p94F3uG5EKLj6kSsJqoN6mnzK3BFDV4dKoWiXvwiOViO2wfOdTtXSPoaYKd00Ym7GwxTL');
} catch (error) {
    console.error('Error al cargar Stripe:', error);
}

document.addEventListener('DOMContentLoaded', () => {
    console.log("DOM completamente cargado");

    let modo = '';
    const form = document.getElementById('payment-form');
    const Quien_Soy = document.getElementById('Quien_Soy');
    const additionalInputContainer = document.getElementById('additional-input-container');

    if (Quien_Soy && additionalInputContainer) {
        Quien_Soy.addEventListener('change', (e) => {
            // Asegúrate de que e.target es tratado como HTMLInputElement
            const target = e.target as HTMLInputElement;
            const value = target.value;
            
            additionalInputContainer.innerHTML = '';

            if (value === 'Coach') {
                additionalInputContainer.innerHTML = '<label for="Coach">¿Quién es tu presidente ascendente?</label><input type="text" id="Coach" name="Coach" required>';
            } else if (value === 'Cliente') {
                additionalInputContainer.innerHTML = '<label for="Cliente">¿Quién es tu Coach?</label><input type="text" id="Cliente" name="Cliente" required>';
            } else {
                additionalInputContainer.innerHTML = '<label for="Deportista">He visto la información a través de ...</label><input type="text" id="Deportista" name="Deportista" required>';
            }
        })}
        else 
        {
        console.log("Alguno de los elementos no se encontró en el DOM.");
        // Manejo adicional si los elementos no existen
        }

    if (form) {
        form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // const valorSeleccionado = (document.querySelector("input[name='pago']:checked") as HTMLInputElement).value;

            // Obtener los valores de los campos de texto y radio
            const fullname = (document.querySelector("input[name='fullname']") as HTMLInputElement).value;
            const email = (document.querySelector("input[name='email']") as HTMLInputElement).value;    
            const phone = (document.querySelector("input[name='phone']") as HTMLInputElement).value;
            

            // Obtener los valores de los select
            const selectintolerancia = (document.getElementById('intolerancia') as HTMLInputElement).value;
            const selectdeporte = (document.getElementById('deporte') as HTMLInputElement).value;
            const selectsabor = (document.getElementById('sabor') as HTMLInputElement).value;
            const selectquien = (document.getElementById('Quien_Soy') as HTMLInputElement).value;

            let selectexp_quien = '';

            if (selectquien === 'Coach'){
                 selectexp_quien = (document.querySelector("input[name='Coach']") as HTMLInputElement).value;
            } else if (selectquien === 'Cliente'){
                 selectexp_quien = (document.querySelector("input[name='Cliente']") as HTMLInputElement).value; 
            }            
            else{
                 selectexp_quien = (document.querySelector("input[name='Deportista']") as HTMLInputElement).value;
            }

            
            
            const mensaje = 'Nombre completo='+fullname+'&Email='+email+'&Teléfono='+phone+'&Intolerancia='+selectintolerancia+'&Deporte='+selectdeporte+'&El sabor del F1='+selectsabor+'&Eres='+selectquien+'&Explicación='+selectexp_quien;
            
            let baseUrl = 'http://localhost:4321/success/';
            // Crear el mensaje

            const params = {
                "Nombre completo": fullname,
                "Email": email,
                "Teléfono": phone,
                "Intolerancia": selectintolerancia,
                "Deporte": selectdeporte,
                "El sabor del F1": selectsabor,
                "Eres": selectquien,
                "Explicación": selectexp_quien
                };

                const encodedParams = Object.keys(params).map((key: keyof typeof params) => {
                    return encodeURIComponent(key) + "=" + encodeURIComponent(params[key]);
                }).join("&");

                const finalUrl = baseUrl + "?" + encodedParams;

                console.log(finalUrl);
            
            const valorSeleccionado = (document.querySelector("input[name='pago']:checked") as HTMLInputElement).value;

            if (valorSeleccionado === 'price_1OWxM3BU9WDVlpaVIsDdV3rG') {
              modo = 'subscription';
            }
            else{
              modo = 'payment'; 
            }
            const successUrl = finalUrl+'&Pago='+modo;
            const stripe = await stripePromise; // Esperar a que la promesa se resuelva

            const { error } = await stripe.redirectToCheckout({
                lineItems: [
                    { price: valorSeleccionado, quantity: 1 }
                ],
                mode: modo,
                successUrl: successUrl,
                cancelUrl: 'http://localhost:4321/',
                customerEmail: email,
            });

            if (error) {
                console.error('Error en Stripe:', error);
                alert('Hubo un error al procesar su pago con Stripe.');
            }
        })
    }
    else {
        console.log("Formulario no encontrado");
    }
});
   

</script>
